general {
        output_format = "i3bar"
        colors = false
        markup = pango
        interval = 5
        color_good = '#2f343f'
		color_degraded = '#ebcb8b'
		color_bad = '#ba5e57'
}

order += "cpu_usage"
order += "memory"
order += "ethernet eno1"
order += "wireless wlp4s0"
order += "volume master"
order += "battery 0"
order += "tztime local"

load {
        format = "<span > %5min Load </span>"
}

cpu_temperature 0 {
        format = "<span background='#bf616a'> %degrees °C </span>"
        path = "/sys/class/thermal/thermal_zone0/temp"
}

disk "/" {
        format = "<span background='#fec7cd'>  %free Free </span>"
}

ethernet eno1 {
        format_up = "E: %essid %quality"
        format_down = "<span >  Disconnected </span>"
}

wireless wlp4s0 {
        format_up = "W: %essid %quality"
        format_down = "<span>  Disconnected </span>"
}

volume master {
        format = "<span> ♪%volume </span>"
        format_muted = "<span>  Muted </span>"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

battery 0 {
	last_full_capacity = true
        format = "<span> 🔋%percentage </span>"
        status_chr = "<span> ⚡:%percentage </span>"
        status_unk = "? UNK"
        status_full = "☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

cpu_usage {
    format = "CPU %usage"
}

memory {
    memory_used_method = classical
    format = "%used/%total"
}

tztime local {
                format = "<span>  %d-%m-%Y %H:%M:%S </span>"
}
